<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statist</title>
</head>
<body>

        <table>
            <tr><td>fFood</td><td>All Rests</td><td>In Moscow</td><td> % </td></tr>
            <tr><td>Burger King</td><td>{{cBK}}</td><td>{{McBK}}</td><td> {{per.BK}} </td></tr>
            <tr><td>KFC</td><td>{{cKFC}}</td><td>{{McKFC}}</td><td> {{per.KFC}} </td></tr>
            <tr><td>McDonalds</td><td>{{cMD}}</td><td>{{McMD}}</td><td> {{per.Mc}} </td></tr>
        </table>
        <div class="statist"><h1>From Pandas</h1>
            <p>Saved at File</p>
        </div>


</body>
    <style>
        table{width: 100%; font-size: 200%; }
        tr td{border: 2px solid black}
    </style>
</html>